<!DOCTYPE html>

<html lang="fr">

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}


    <section class="vh-100 bg-image">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">Créer un compte</h2>

                                {{ form_start(registrationForm) }}

                                    <div class="form-outline mb-4">
                                        {{ form_widget(registrationForm.nom_user, {'attr': {'placeholder': 'Nom *',
                                        'class': 'form-control form-control-lg'}}) }}
                                    </div>

                                    <div class="form-outline mb-4">
                                        {{ form_widget(registrationForm.prenom_user, {'attr': {'placeholder': 'Prénom *',
                                            'class': 'form-control form-control-lg'}}) }}
                                    </div>

                                    <div class="form-outline mb-4">
                                        {{ form_widget(registrationForm.email, {'attr': {'placeholder': 'Email *',
                                            'class': 'form-control form-control-lg'}}) }}
                                    </div>

                                    <div class="form-outline mb-4">
                                        {{ form_widget(registrationForm.plainPassword, {'attr': {'placeholder': 'Mot de passe *',
                                            'class': 'form-control form-control-lg'}}) }}
                                    </div>

                                    <div class="form-outline mb-4">
                                        {{ form_widget(registrationForm.num_tel, {'attr': {'placeholder': 'Numéro de téléphone',
                                            'class': 'form-control form-control-lg'}}) }}
                                    </div>

                                    <div class="form-check d-flex justify-content-center mb-5">
                                        {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input me-2'}}) }}
                                        <label class="form-check-label" for="form2Example3g">
                                            J'accepte les <a href="/cgu" class="text-body"><u>CGU</u></a>
                                        </label>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <input type="submit" value="S'inscrire" id="btnregisterlogin" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                                    </div>

                                    <p class="text-center text-muted mt-5 mb-0">Déjà un compte ? <a href="/login" class="fw-bold text-body"><u>Connectez-vous</u></a></p>

                                    {{ form_end(registrationForm) }}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
