<!DOCTYPE html>

<html lang="fr">


    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href=" {{  asset('imgs/logobeigenoir.ico') }}" sizes="120x120" />
        <title>{% block title %}LaBonneMiche{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    {{ include('header.html.twig') }}


<body>
        {% block body %}{% endblock %}


        <section>
            <div class="container  w-50">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner  ">
                        <div class="carousel-item active">
                            <img src="{{ asset('imgs/logobeigenoir.png') }}" class="d-block img-fluid " alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>First slide label</h5>
                                <p>Some representative placeholder content for the first slide.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{{ asset('imgs/panier.png') }}" class="d-block img-fluid" alt="..." >
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Second slide label</h5>
                                <p>Some representative placeholder content for the second slide.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{{ asset('imgs/profil.png') }}" class="d-block img-fluid" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Third slide label</h5>
                                <p>Some representative placeholder content for the third slide.</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </section>

        <div class="container  w-50">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner  ">
                    <div class="carousel-item active">
                        <img src="{{ asset('imgs/logobeigenoir.png') }}" class="d-block img-fluid " alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>
                            <p>Some representative placeholder content for the first slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('imgs/panier.png') }}" class="d-block img-fluid" alt="..." >
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Second slide label</h5>
                            <p>Some representative placeholder content for the second slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('imgs/profil.png') }}" class="d-block img-fluid" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Third slide label</h5>
                            <p>Some representative placeholder content for the third slide.</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>


        <div class="container ">
            <h1 class="text-center m-5 ">
                Les produits du moment
            </h1>
            <div class="container d-inline-flex ">
                <img src="{{ asset('imgs/logobeigenoir.png') }}" class=" rounded mx-auto" alt="test" width="200" height="200">
                <div class="container ">
                    <h3 class="d-block">
                        sdfghj
                    </h3>
                    <p class="d-block">
                        qsdfghjgfdsqsdfghjgfds
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-6 m-auto">
                    <h3 class=" text-center">
                        sdfghj
                    </h3>
                    <p class="text-center">
                        qsdfghjgfdsqsdfghjgfds
                    </p>
                </div>
                <div class="col-6">
                    <img src="{{ asset('imgs/logobeigenoir.png') }}" class="img-thumbnail float-end " alt="test" width="200" height="200">
                </div>
            </div>
        </div>


    </body>








    {{ include('footer.html.twig') }}


</html>
