{% extends 'base.html.twig' %}

{% block title %}Hello CheckoutController!{% endblock %}

{% block body %}
    <div class="section checkout">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="heading_s1">
                        <h4>Your delivery Address</h4>

                        <div class="content">
                            {% if app.user.adresse %}
                                {{ app.user.adresse.nom }} </br>
                                {{ app.user.adresse.complementAdresse }} </br>
                                {{ app.user.adresse.ville }} </br>
                                {{ app.user.adresse.codePostal }} </br>
                                {{ app.user.adresse.pays }} </br>
                                <a href="{{ path('adresse_edit',{'id': app.user.adresse.id })}}" class="btn btn-fill-out btn-block mt-1">Modifier l'adresse</a>
                            {% else %}
                                <a href="{{ path('adresse_new')}}" class="btn btn-fill-out btn-block mt-1">Ajouter une adresse</a>
                            {% endif %}
                        </div>

                    </div>

                <div class="col-md-6">
                    <div class="order_review">
                        <div class="heading_s1">
                            <h4>Your Orders</h4>
                        </div>
                        <div class="table-responsive order_table">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Total</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tbody>
                                {% if app.session.get('panier') %}
                                    {% for element in panier.produits %}
                                    <tr>
                                        <td> {{ element.produit.nomProduit }} <span class="product-qty">x {{ element.quantite }}</span></td>
                                        <td>{{ element.produit.prixProduit}}  €</td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>SubTotal HT</th>
                                    <td class="product-subtotal">${{ panier.data.prixPanier* 0.80 }}</td>
                                </tr>
                                <tr>
                                    <th>Taxe</th>
                                    <td class="product-subtotal">${{ panier.data.prixPanier - panier.data.prixPanier* 0.80  }}</td>
                                </tr>
                                <tr>
                                    <th>Total</th>
                                    <td class="product-subtotal">${{ panier.data.prixPanier }}</td>
                                </tr>
                                </tfoot>

                                {% endif %}
                            </table>
                        </div>
                        <div class="payment_method">
                            <div class="heading_s1">
                                <h4>Payement</h4>
                            </div>

                        </div>
                        <button type="submit" id="checkout-button" class="btn btn-fill-out btn-block">
                            Payer
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}