{% extends 'base.html.twig' %}

{% block title %}Article - LaBonneMiche{% endblock %}

{% block body %}
<div class="bodyhome pt-5 pb-5">
    <div class="article-body-2 m-5">
    <div class="col-12">
        <div id="titlephare">
            <h1 class="article-h2">{{ article.Titre }}</h1>

        </div>
        <div class="article-p col-12">
            <p >{{ article.Contenu|raw }}</p>
        </div>
        {% for paragraphe in article.paragraphes %}
        <div class="col-12 ">
            <h2 class="article-h2">{{ paragraphe.titreParagraphe }}  {{ paragraphe.titreParagraphe }}</h2>
        </div>
        <div class="article-p col-12">
            <p>{{ paragraphe.contenuParagraphe|raw }}</p>
        </div>
        {% endfor %}
    </div>


        <a href="{{ path('article_index') }}" class="button btn-article">Revenir aux articles</a>

    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('article_edit', {'id': article.id}) }}" class="button m-3" id="btn-article-create">Modifier l'article</a>
        {{ include('article/_delete_form.html.twig') }}
    {% endif %}
</div>



{% endblock %}
